@layout('layout/main')


@section('content')
<div style="background: url('{{ assetsUrl('img/404.png')}}'); height:700px; background-size: 80%; background-position: center; background-repeat: no-repeat; background-size: contain;">
</div>
@endsection

