@layout('layout/main')


@section('content')
<div style="background: url('{{ assetsUrl('img/404.webp')}}'); height:600px; background-size: 80%; background-position: center; background-repeat: no-repeat">
</div>
@endsection

